@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');





/* neumorphic buttons */

.insetShadow {
    box-shadow: .15rem .15rem .3rem grey, 
    -.1rem -.1rem .25rem rgb(255, 255, 235);
    transition:all ease 0.2s;
}

.insetShadow:active{
    box-shadow: inset .15rem .15rem .3rem grey, 
    inset -.15rem -.15rem .3rem rgb(255, 255, 235);
    transition:all ease 0.2s;
}

.testingDiv10{
    cursor: pointer;
    margin:10px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 10px;
    font-family:'IBM Plex Mono', monospace;
    position: relative;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    transition:all ease 0.2s;
}

.header10{
    font-size: larger;
    position: relative;
    top: calc(50% - 28px);
}

/* secondary neumorphic */

.testingDiv11{
    cursor: pointer;
    margin:10px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 10px;
    font-family:'IBM Plex Mono', monospace;
    position: relative;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    background-color: antiquewhite;
    color: #222;
}

.header11{
    font-size: larger;
    position: relative;
    top: calc(50% - 28px);
}

/* retro clicky button */
.button-clicky{
    cursor: pointer;
    position:relative;
    display:inline-block;
    margin:20px;
  }
  
  .button-clicky a{
    color:#222;
    font-family:'IBM Plex Mono', monospace;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#f5ec8f;
    display:block;
    position:relative;
    padding:20px 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #908c6b;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #908c6b;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #908c6b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button-clicky a:active{
    top:10px;
    background-color:#e2d32d;
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #908c6b;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #908c6b;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #908c6b;
  }
  
  .button-clicky:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  /* glass table (trending) */
  .testingDiv15{
    margin:10px;
    height:250px;
    width: 100%;
    border-radius: 15px;
    overflow-y: scroll;
    position: relative;
    justify-content: center;
    vertical-align:middle;
    text-align: center;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    display: inline-flex;
 }
.glassTable1{
    border-collapse: collapse;
    font-family: 'IBM Plex Mono', monospace;
    padding: 0px;
    width: 100%;
    cursor: pointer;
}
.thead2{
    font-weight: 700;
    background-color: #222;
    color:antiquewhite;
    padding: 0px;
    transition: all .2s ease-in-out;
    position: sticky;
    top: 0;
    text-align: center;
    font-size: larger;
    z-index:10;
}
.trow2 {
    border:#222222 solid 1px;
    width: 100%;
    justify-content: center;
    transition: all ease 0.3s;
  }
  
.trow2:hover {
    background-color: rgba(255, 255, 255, .25);
}
.tdata2 {
    font-size: medium;
    padding:5px;
    text-align: center;
    transition: all .2s ease-in-out;
}
  
.tdata2:hover {
    transform:scale(1.1);
}

/* animation in the background of the glass table effect */
.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}


@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}

/* neumoprhic icon expands to chip */

.testingDiv16{
  cursor: pointer;
  margin: 10px;
  width: 72px;
  height: 72px;
  color: #222222;
  padding:20px;
  border-radius: 100px;
  cursor: pointer;
  transition: all ease 0.2s;
  overflow: hidden;
  align-items: center;
  vertical-align: center;
  white-space: nowrap;
  line-height: 72px;
  transition: all ease 0.3s;
}

.header16 {
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  transition: all ease 0.3s;
  line-height: 84px;
}

.testingDiv16:hover {
  transition: all ease 0.3s;
  width: 250px;
}

.testingDiv16:hover .testSpan17 {
  display:inline;
  transform: translate(-125px,0);
  transition: all ease 0.3s;
}
.testingDiv16:hover .header16 {
  transition: all ease 0.3s;
  transform: translate(425px,-26px);
}

.testingDiv16:active {
  transition: all ease 0.3s;
}

.testingDiv16:hover .testSpan16 {
  display: none;
}

.testSpan17 {
  border: 1px solid #222;
  border-radius: 50px;
  display: none;
  width: 250px;
  left:-300px;
  transition: all ease 0.3s;
  position: absolute;
}

.testSpan16 {
  position: relative;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: -18px;
}
.svg_user{
  transform: translate(0px,15px);
  height: 48px;
  width: 48px;
}

/* glass button */
.testingDiv17{
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  margin:10px;
  overflow: hidden;
  transition:all ease 0.2s;
}
.testingDiv17:hover{
  transform: scale(1.05);
}
.testingDiv17:active{
  box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
}
.header17{
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
  padding:5px;
  top:calc(50% - 48px);
}

/* retro old school button */

/* CSS */

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'IBM Mono Plex',monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 10px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}



/* download button */
.button.dark-single {
  --background: none;
  --rectangle: #242836;
  --success: #4BC793;
}
.button.white-single {
  --background: none;
  --rectangle: #F5F9FF;
  --arrow: #275efe;
  --success: #275efe;
  --shadow: rgba(10, 22, 50, .1);
}
.button.dark {
  --background: #242836;
  --rectangle: #1C212E;
  --arrow: #F5F9FF;
  --text: #F5F9FF;
  --success: #2F3545;
}

.button {
  --background: #275efe;
  --rectangle: #184fee;
  --success: #4672f1;
  --text: #fff;
  --arrow: #fff;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, .24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 4px -1px var(--shadow);
}
.button ul {
  margin: 0;
  padding: 16px 40px;
  list-style: none;
  text-align: center;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text);
}
.button ul li:not(:first-child) {
  top: 16px;
  left: 0;
  right: 0;
  position: absolute;
}
.button ul li:nth-child(2) {
  top: 76px;
}
.button ul li:nth-child(3) {
  top: 136px;
}
.button > div {
  position: relative;
  width: 60px;
  height: 60px;
  background: var(--rectangle);
}
.button > div:before, .button > div:after {
  content: "";
  display: block;
  position: absolute;
}
.button > div:before {
  border-radius: 1px;
  width: 2px;
  top: 50%;
  left: 50%;
  height: 17px;
  margin: -9px 0 0 -1px;
  background: var(--arrow);
}
.button > div:after {
  width: 60px;
  height: 60px;
  transform-origin: 50% 0;
  border-radius: 0 0 80% 80%;
  background: var(--success);
  top: 0;
  left: 0;
  transform: scaleY(0);
}
.button > div svg {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -10px;
  fill: none;
  z-index: 1;
  stroke-width: 2px;
  stroke: var(--arrow);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button.loading ul {
  -webkit-animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:before {
  -webkit-animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:after {
  -webkit-animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div svg {
  -webkit-animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}

@-webkit-keyframes text {
  10%, 85% {
    transform: translateY(-100%);
  }
  95%, 100% {
    transform: translateY(-200%);
  }
}

@keyframes text {
  10%, 85% {
    transform: translateY(-100%);
  }
  95%, 100% {
    transform: translateY(-200%);
  }
}
@-webkit-keyframes line {
  5%, 10% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-20px);
  }
  65% {
    transform: translateY(0);
  }
  75%, 100% {
    transform: translateY(30px);
  }
}
@keyframes line {
  5%, 10% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-20px);
  }
  65% {
    transform: translateY(0);
  }
  75%, 100% {
    transform: translateY(30px);
  }
}
@-webkit-keyframes svg {
  0%, 20% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  21%, 89% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
    stroke-width: 3px;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  100% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 0;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  12% {
    opacity: 1;
  }
  20%, 89% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}
@keyframes svg {
  0%, 20% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  21%, 89% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
    stroke-width: 3px;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  100% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 0;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  12% {
    opacity: 1;
  }
  20%, 89% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}
@-webkit-keyframes background {
  10% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(0.15);
  }
  65% {
    transform: scaleY(0.5);
    border-radius: 0 0 50% 50%;
  }
  75% {
    border-radius: 0 0 50% 50%;
  }
  90%, 100% {
    border-radius: 0;
  }
  75%, 100% {
    transform: scaleY(1);
  }
}
@keyframes background {
  10% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(0.15);
  }
  65% {
    transform: scaleY(0.5);
    border-radius: 0 0 50% 50%;
  }
  75% {
    border-radius: 0 0 50% 50%;
  }
  90%, 100% {
    border-radius: 0;
  }
  75%, 100% {
    transform: scaleY(1);
  }
}





.containerDownload {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerDownload > div {
  flex-basis: 100%;
  width: 0;
}
.containerDownload .button {
  margin: 16px;
}
@media (max-width: 400px) {
    .containerDownload .button {
    margin: 12px;
  }
}
.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
.dribbble img {
  display: block;
  height: 28px;
}



/* radio button set 2 */
.testingDiv7 {
  cursor: pointer;
  border: #222 1px solid;
  border-radius: 15px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin: 20px;
  transition: all ease 0.3s;
  padding: 25px;
  width: 125px;
  background-color: antiquewhite;
  flex-wrap: wrap;
}
/* begin radio button CSS for div7 */ 
.radioSpan2 {
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: calc(50% - 10px);
  background-image: linear-gradient(to left, #222 50%, antiquewhite 50%);
  background-size: 200% 100%;
  border-radius: 5px;
  padding:6px;
  transition: all ease 0.3s;
  margin: 3px;
  -webkit-transition:all background-position 1s;
  -moz-transition:all background-position 1s;
  transition: all background-position 1s;
}
.radioTest2 {
  background-color: #222;
  transition: all ease 0.3s;
}

.radioContainer2 {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all ease 0.3s;
  font-family: 'IBM Plex Mono', monospace;
}

.radioContainer2:hover input ~ .radioSpan2{
  transition: all ease 0.3s;
  padding-left: 18px;
}
.radioContainer2 input:checked ~ .radioSpan2{
  background-color: #222;
  color: antiquewhite;
  transition: all ease 0.3s;
  background-position: -100% 0;
  
}
.radioContainer2 input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition: all ease 0.3s;
}

.radioSpan2:after {
  content: "";
  position: absolute;
  display: none;
  transition: all ease 0.3s;
}

.radioContainer2 input:checked ~ .radioSpan2:after {
  display: block;
  transition: all ease 0.3s;
}

